body{
  display: flex;
  justify-content: center;
  margin: 0%;
  font-family: 'Open Sans', sans-serif;
  background-attachment: fixed;
  background-image: url(./Images/background.jpg);
  backdrop-filter: grayscale(35);
  overflow: hidden;   
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 12000px;
  background-color: #a0aecd;
  border-left: 100px solid #6e6e6e;
  border-right: 100px solid #6e6e6e;
}

.outContainer{
  background-color: black;
  width: 1000px;
  height: 12000px;
  display: flex;
  justify-content: center;
}

.player{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 500px;
  height: 500px;
  background-color: #b33430;
  border-radius: 5px;
}

.player > img{
  width: 460px;
  border-radius: 5px;
}

.master-players-chess-title {
  background-color: #b33430;
  border-radius: .3rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  margin-right: .3rem;
  padding: .2rem .3rem;
}


#welcome{
  height: 400px;
  width: 400px;
  font-size: 35px;
  padding: 20px;
  margin-top: 100px;
  background-color: #B1B1B1;
  border-radius: 10px;
  text-align: center;
}

.aButton{
  width: 235px;
  height: 30px;
  background-color: #6e5e5e;
  padding-bottom: 9px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  position: absolute;
  margin-left: 17.4%;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 1.5px;
}

.aButton:hover{
  background-color: #6e6e6e;
  transition: 0.1s;
}

.accordion{
  position: absolute;
  height: 460px;
  width: 430px;
}

.accordion > h3{
  width: 225px;
  border-radius: 10px;

}

.accordion > div{
  width: 400px;
  height: 460px;
  margin-top: -546px;
  border-radius: 5px;
  font-size: 23px;

}

.inner-Container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 1000px;
  width: 700px;
  border-radius: 10px;
}

#start{
  background-color: #6e5e5e;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  color: white
}

#endScreen{
  width: 400px;
  font-size: 25px;
  background-color: #B1B1B1;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 200px;
  padding: 50px;
}

#number1, #number2, #number3, #number4, #number5, #number6, #number7, #number8, #number9, #number10{
  display: none;
}

#show-option{
  color: rgb(20, 109, 199);
  text-decoration: underline;
}

.ui-progressbar {
  position: relative;
}

#progressbar{
  border-radius: 10px;
}

#progressPer{
  margin-left: 47%;
  margin-top: 8px;
  position: absolute;
}

#returnBtn{
  text-decoration: none;
  width: 200px;
  height: 30px;
  background-color:#6e5e5e;
  padding: 10px;
  border-radius: 10px; 
  /* margin-bottom: -50px; */
  margin-left: -110px; 
  color: white;
  position: absolute;
}